@import 'variables';
@import 'mixins';

section {
  @include flex(column, space-between, stretch);
  background-color: $dark;
  min-width: 50vw;
  height: 100vh;
  padding-bottom: 1rem;
}

a.list-group-item {
  @include flex(row-reverse, space-between);
  border-radius: 0;
}

p {
  color: $medium;
}

button,
h3,
p {
  margin: 0 0.5rem 0.5rem;
}

button.btn {
  color: $white;
  font-size: large;
}