/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $font-regular;
}

h1, 
h3 {
  color: $text-color;
  font-family: $font-fancy;
}

.font-fancy {
  font-family: $font-fancy;
}